.list-item-img{
    width: 80%;
    height: 35vh;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    align-self: center;
}
.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prod-btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.prod-btn:hover,
.prod-btn:focus {
  opacity: .75;
}
/*Beginning of index css */
.hero-container{
    margin-top: 50px;
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 80vh;
}
.header{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    background-color: white;
    border-radius: 20px;
    box-shadow: inset;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.list-item-img{
    width: 80%;
    height: auto;

    object-fit: contain;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height:200px;
}
.list-img{
    max-height: 40vh;
}
.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.about{
    background-image: url('../img/6.jpg');
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.abt-img{
    width: 6vw;
}
.footer{
    background-color: grey;
}